@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #578c49;
    font-family: "Roboto", sans-serif;
    color: #000;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #99be8f;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 23px;
}

.img-div {
    text-align: center;
}

.start-btn {
    font-size: 20px;
    margin-top: 150px;
}

button {
    width: 250px;
    height: 60px;
    border-radius: 23px;
    margin: 25px 20px 25px 20px;
    font-size: 15px;
    background-color:#fff;
}


button:focus {
    outline: none;
}

#scoreBlock {
    padding-top: 100px;
}

#quiz{
    overflow:hidden;
}

.quizRestart {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Media queries------------------------------*/

@media(min-width:768px) {
    .container {
        max-height: 600px;
        min-height: 600px;
    }
}

@media (min-width: 1024px){
    button:hover{
    background-color: yellow;
    border: none;
}
}    

